@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Consolas';
  position: relative;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
  }
  h1 {
    color: #ffffff;
  }
}

input {
  font-family: 'Pretendard';
  color: #000000;
  position: absolute;
  outline: none;
  margin: 0px 5vw 10px;
  height: 20px;
  width: 90vw;
  padding: 5px;
  bottom: 0;
  align-content: center;
}
