@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Consolas';
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 0;
}

.h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  align-items: center;
  display: inline-block;
  position: absolute;
  outline: none;
  height: 34px;
  width: 34px;
  padding: 0;
  margin: 0px 0px 10px 4vw;
  bottom: 0;
}

img#dark-icon {
  width: 20px;
  height: 20px;
  margin:   5px 3.5px 3.5px 3.5px;
}

.dark-mode {
  background-color: #212121;
}
.dark-mode h1 {
  color: #ffffff;
}

.dark-mode span input, button {
  background-color: #434343;
  color: #ffffff;
}

button {
  background-color: #f3f3f3;
}

input {
  font-family: 'Consolas';
  color: #000;
  position: absolute;
  outline: none;
  margin: 0px 5vw 10px 10vw;
  height: 20px;
  width: 85vw;
  padding: 5px;
  bottom: 0;
  align-content: center;
}
